# Frontend
front-chat/node_modules/
front-chat/dist/

# Backend
chat-app-backend/target/
chat-app-backend/*.log

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

chat-app-backend/src/main/resources/application.properties
